.search_container {
  width: 90%;
  margin: auto;
  height: 90%;
}

.search_container h2{
  margin-left: 3px;
}


.search_input{
  border: none;
  margin: 0;
  border-radius: 25px;
  background: rgba(0, 176, 255, 0.25);
  font-size: 1.125em;
  padding: 5px 16px;
  width: 80%;

}
