.daily_schedule_card {
  border: 1px solid black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 22%;
  height: 48%;
  margin: 10px;
}

.daily_schedule_header {
  width: 80%;
  border-bottom: 2px solid black;
  text-align: center;
  height: 50px;

}

input.daily_schedule_header {
  margin: 0;
  font-size: 16px;
}

input.daily_schedule_header+p {
  margin: 5px;
}

input+p:hover {
  cursor: pointer;
}

.daily_schedule_delete {
  position: relative;
  left: 40%;
  top: 2%;
  height: 0;
  width: 0;
}

.daily_schedule_delete:hover {
  cursor: pointer;
}

.edit_daily_schedule_header {
  width: 100%;
  text-align: center;
  height: 50px;
  border: none;
  font-size: 1em;
  margin-top: 16px;
}

.edit_daily_schedule_header::placeholder {
  color: lightgray;
}

.daily_schedule_header + p,
.edit_daily_schedule_header + p {
    margin-top: -9px;
  font-size: 0.75em;
}

.daily_schedule_header form {
  width: 100%;
}

.recipes_container {
  height: 72%;
  width: 80%;
}
