.recipe_container {
  position: absolute;
  background-color: white;
  height: 75%;
  width: 50%;
  border-radius: 20px;
  overflow-y: auto;
}

.recipe_container::-webkit-scrollbar {
  display: none;
}

#recipe_header {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.recipe_info {
  width: 90%;
  height: 85%;
}

#recipe_header h2 {
  margin: 0;
}

.recipe_delete_button {
  color: red;
  font-size: .75em;
  margin: 5px;
}

.recipe_delete_button:hover {
  cursor: pointer;
}

#recipe_modal_pic_ing {
  width: 90%;
  height: 60%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}



.img_src {
  width: 40%;
}

#food_image {
  object-fit: cover;
  width: 100%;
  border-radius: 15px;
}

.modal_ingredients {
  width: 50%;
  height: 100%;
  overflow-y: auto;
}

.modal_ingredients::-webkit-scrollbar {
  display: none;
}

.modal_ingredients ul {
  padding: 0 0 0 20px;
  font-size: .9em;
  line-height: 1.5;
}

.instruct_tags {
  width: 90%;
  height: 40%;
}

.instruct_tags h2{
  margin: 0;
}

.instruct_block {
  width: 100%;
  height: 60%;
  overflow-y: auto;
  line-height: 1.5;
}

.tags_label {
  margin-bottom: 0;
}

.tag_list {
  margin: 10px;
  display: flex;
}

.tag_list p {
  padding: 0 5px;
}
