.recipe_container {
  position: absolute;
  background-color: white;
  height: 75%;
  width: 50%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.recipe_info{
  margin: auto;
  width: 90%;
  height: 90%
}

#recipe_header{
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#recipe_header h2{
  margin: 0;
}

#recipe_modal_pic_ing{
  display: flex;
}

#food_image {
  object-fit: cover;
  width: 40%;
  border-radius: 50%;
}
