#homepage_container {
  width: 90vw;
  display: flex;
}

#daily_schedule_workspace {
  width: 80%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.workspace_name_header {
  font-size: 2em;
  font-weight: bold;
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.workspace_name_icon {
  font-size: 15px;
  margin: 0 10px;
}

.fa-edit.workspace_name_icon{
    margin-left: 20px;
}

#edit_plan_form {
    display: flex;
}

#edit_plan_form div{
    width: 30%;
}

#edit_plan_form input{
    font-size: 2em;
    font-weight: bold;
    margin-top: 0;
}

#edit_plan_form p{
    font-size: .75em;
    margin: 3px 0;
}

#edit_plan_form p:hover{
  cursor: pointer;
}

#daily_schedule_container {
  display: flex;
  height: 91%;
}

#add_daily_schedule_card {
  width: 22%;
  height: 48%;
  margin: 10px;
}

#add_day_button {
  margin: auto;
}

#add_day_button:hover {
  cursor: pointer;;
}

#add_day_button p {
  margin: 0;
}
