#meal_plan_container {
  border: 1px solid black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 20%;
  min-width: 160px;
  height: 90vh;
  justify-content: space-between;
}

#meal_plan_list {
  width: 100%;
  overflow-y: auto;
  -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
  height: 90%;
}

#meal_plan_list::-webkit-scrollbar {
  display: none;
}

#meal_plan_header {
  width: 80%;
  border-bottom: 3px solid black;
  text-align: center;
  height: 50px;
}

.meal_plan_card {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 80%;
  height: 40px;
  min-height: 40px;
  margin: 7px 0;
  transition: border 1s ease-in;
}

.meal_plan_card:hover {
  cursor: pointer;
}

.meal_plan_card p {
  margin: auto;
  text-align: center;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selected_plan {
  border: 1px solid #00b0ff;
}

#add_plan {
  justify-self: flex-end;
}

#add_plan:hover {
  cursor: pointer;
}

#add_plan p {
  margin: 0;
}

#add_plan .plus {
  margin-bottom: 15px;
}

#meal_plan_list form {
  width: 100%;
}

#meal_plan_list form input {
  text-align: center;
}

#meal_plan_list form p {
  font-size: 0.5em;
  margin: 0;
}

#meal_plan_list form p:hover {
  cursor: pointer;
}
